<table class="table">
    <thead>
    <tr>
        <th>route</th>
        <th>endpoint uri</th>
        <th>state</th>
        <th>exchanges failed</th>
        <th>exchanges total</th>
        <th>mean processing time</th>
    </tr>
    </thead>
    <tbody>
    {{#routes.routes}}
        <tr>
            <td>{{RouteId}}</td>
            <td>{{EndpointUri}}</td>
            <td>{{State}}</td>
            <td>{{ExchangesFailed}}</td>
            <td>{{ExchangesTotal}}</td>
            <td>{{MeanProcessingTime}}</td>
        </tr>
    {{/routes.routes}}
    </tbody>
</table>